body{
    font-family: Copperplate Gothic Light, sans-serif;
    font-size: 15px;
    color: black;
    height: 100%;
    width: 100%;
    background-color: #F6F6F6;
}
ul.nav a:hover { 
    color: #0000ff !important; 
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.navbar-default{
    background-color: #ffffff;
}

/* footer */
.site-footer{
    background-color: #222;
    color: #fff;
    margin-top: 30px;
    padding-top: 30px;
}
.site-footer h1{
    font-size: 18px;
}
.site-footer h2{
    text-align: right;
    font-size: 16px;
}
.bottom-footer{
    border-top: 1px solid #b2b2b2;
    margin-top: 10px;
    padding-top: 10px;
    color: #b2b2b2;
}
.footer-nav{
    text-align: right;
    list-style: none;
}
.footer-nav li{
    display: inline;
}
.footer-nav li:not(:first-child):before{
    content: '|';
    padding: 0px 10px;
}
.footer-nav a{
    color: #b2b2b2;
}
.footer-nav a:hover{
    color: #0000ff;
    text-decoration: none;
}

/* Meny CSS */
.row-tabs{
    padding-top: 30px;
}
.meny-rubrik{
    text-decoration:none;
}
.tab-content{
    text-align: center;
    margin: 0 auto;
}
.mat_titel{
    font-weight: bold;
}
/* carousel */
#carousel-example-generic{
    width: 100%;
    max-height: 500px;
}
.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 500px;
}

/* Kontakt */
.kontakt-section{
    padding top: 10px;
}
.jumbotron{
    background-color: #F6F6F6;
}
label{
font-weight: 500;
}
textarea form-control{
    height: auto;
}
textarea{
    resize: none;
}
.kontakt-section h1{
    text-align: center;
}